{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            Sakinys: {{ sentence }}
        </div>
        <div>
            Nuoroda: <a href="{{ url }}">{{ url }}</a>
        </div>
    </div>
{% endblock %}

