{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form name="form" method="post" action="{{ path('save') }}">
            <div>
                <input style="width: 400px;" type="text" name="form[text]" value="{{ randomSentence }}" readonly />
                <button type="submit">Issaugoti</button>
            </div>
        </form>



    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}