<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eneba task{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div style="margin-top: 5%; margin-left: 15%;">
        {% block body %}{% endblock %}
    </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
